.intro
{
    height: 100px;
    width: 150px;
    background-color: purple;
    align-items: center;
    text-align: center;
   display: flex;
   margin-left: 40%;
   margin-top: 12%;
   border-radius: 6px;
   color: black;

}
a{
    text-align: left;
    margin-left: 3rem;
}